body {
    background: #181818;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    height: 1000px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}


/* HEADER */
.main-header {
    height: 46px;
    background: #212121;
    position: relative;
    z-index: 1;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.main-header nav ul {
    display: flex;
}

.main-header nav ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #667580;
    font-weight: bold;
}

.main-header nav ul li + li {
    margin-left: 30px;
}

.main-header nav ul li img {
    width: 15px;
    margin-right: 7px;
}

.main-header .logo {
    width: 20px;
}

.main-header div {
    display: flex;
}

.main-header div input {
    width: 150px;
    height: 34px;
    border-radius: 16px;
    border: 1px solid #444444;
    font-size: 12px;
    color: #fff;
    padding: 0 35px 0 12px;
    background: #181818 url("/img/search.svg") no-repeat 170px center;
}

.main-header div img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 15px;
}

.main-header div button {
    width: 90px;
    height: 34px;
    background: #3bb9e3;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* BANNER */
.banner {
    width: 100%;
    height: 380px;
    background: url("/img/banner3.jpg") no-repeat center/100%;
}

/* BAR */
.bar {
    height: 59px;
    background: #212121;
}

.bar .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.bar .container ul {
    padding-left: 285px;
    display: flex;
    align-items: center;
}

.bar .container ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    position: relative;
    height: 100%;
}

.bar .container ul li.active::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #32fa64;    
}

.bar .container ul li span {
    color: #667580;
    font-size: 12px;
    font-weight: bold;
}

.bar .container ul li strong {
    color: #667580;
    font-size: 18px;
    font-weight: bold;
    margin-top: 4px;
}

.bar .container ul li.active strong {
    color: #32fa64;
}

.bar .container .actions {
    display: flex;
    align-items: center;
}

.bar .container .actions button {
    width: 90px;
    height: 34px;
    background: none;
    border: 2px solid #3bb9e3;
    border-radius: 16px;
    font-weight: bold;
    font-size: 14px;
    color: #3bb9e3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bar .container .actions img {
    margin-left: 20px;
    cursor: pointer;
}

/* WRAPPER CONTENT */
.wrapper-content {
    display: flex;
}

.wrapper-content .profile {
    width: 260px;
}

.wrapper-content .profile .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -130px;
}

.wrapper-content .profile h1 {
    font-size: 21px;
    color: #fff;
    margin: 10px 0;
}

.wrapper-content .profile span {
    font-size: 14px;
    color: #444444;
}

.wrapper-content .profile p {
    font-size: 14px;
    color: #fff;
    margin-top: 15px;
}

.wrapper-content .profile .url {
    color: #32fa64;
    cursor: pointer;
}

.wrapper-content .profile ul.list-profile {
    margin-top: 20px;    
}

.wrapper-content .profile ul.list-profile li {
    font-size: 14px;
    color: #667580;
    display: flex;
    align-items: center;
}

.wrapper-content .profile ul.list-profile li + li {
    margin-top: 5px;
}

.wrapper-content .profile ul.list-profile li img {
    margin-right: 10px;
}

.wrapper-content .profile .widget {
    margin-top: 30px;    
}

.wrapper-content .profile .widget strong {
    font-size: 14px;
    font-weight: normal;
    color: #32fa64;
    display: flex;
    align-items: center;  
}

.wrapper-content .profile .widget strong img {
    margin-right: 5px;
}

.wrapper-content .profile .followers ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.wrapper-content .profile .followers ul li {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #444444;
    margin: 0 5px 5px 0;
    flex-grow: 1;
}

.wrapper-content .profile .images ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.wrapper-content .profile .images ul li {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background: #444444;
    margin: 0 5px 5px 0;
    flex-grow: 1;
}